.card-container {
    padding: 10px;
    border: 1px solid black;
    display: grid; 
    // grid-template-columns: repeat(2, 1fr);
    grid-template-columns: 120px 1fr;
    align-content: center;

    &__logo {
        width: 60px;
        padding: 5px;

        &--img {
            width: 100%;
        }
    }
}

@media (min-width: 992px) {
    .card-container {
        height: 100px;

        &__logo {
            width:100px;
        }
    }
}