.artist-container {
    padding: 0 15px;
    

    &__artist-info {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        border-bottom: 2px solid black;

        &__image {
            width: 80px;

            &--img {
                width: 100%;
            }
        }
    }

    &__albums {
        margin-top: 2px;

        &--list {
            padding: 0 5px;
            list-style: none;

            &--element {
                margin: 10px 0;
            }
        }
    }
}