.artists-page-container {
    padding: 0 15px;

    &__title-section {
        border-bottom: 1px solid black;

        &--title {
            font-size: 40px;
        }

        &--sub-title {
            font-size: 20px;
        }
    }
    
    &__artists-section {
        margin-top: 2px;

        &--list {
            padding: 0 5px;
            list-style: none;

            &--element {
                margin: 10px 0;
            }
        }
    }
}